{{!
    @template block_ranking/generalranking

    General (all-time) ranking tab content.
    Context: generalranking array from block output class.
}}
<ul class="ranking-list" data-ranking-type="general">
    {{#generalranking}}
        {{> block_ranking/ranking_list }}
    {{/generalranking}}
    {{^generalranking}}
        <li class="ranking-empty">{{#str}}nostudents, block_ranking{{/str}}</li>
    {{/generalranking}}
</ul>
