{{!
    @template block_ranking/monthlyranking

    Monthly ranking tab content.
    Context: monthlyranking array from block output class.
}}
<ul class="ranking-list" data-ranking-type="monthly">
    {{#monthlyranking}}
        {{> block_ranking/ranking_list }}
    {{/monthlyranking}}
    {{^monthlyranking}}
        <li class="ranking-empty">{{#str}}nostudents, block_ranking{{/str}}</li>
    {{/monthlyranking}}
</ul>
