{{!
    @template block_ranking/report

    Full ranking report page template.
    Context: students array from report output class.
}}
<div class="ranking-report-table">
    <ul class="ranking-list">
        {{#students}}
            {{> block_ranking/ranking_list }}
        {{/students}}
        {{^students}}
            <li class="ranking-empty">{{#str}}nostudents, block_ranking{{/str}}</li>
        {{/students}}
    </ul>
</div>
