{{!
    @template block_ranking/weeklyranking

    Weekly ranking tab content.
    Context: weeklyranking array from block output class.
}}
<ul class="ranking-list" data-ranking-type="weekly">
    {{#weeklyranking}}
        {{> block_ranking/ranking_list }}
    {{/weeklyranking}}
    {{^weeklyranking}}
        <li class="ranking-empty">{{#str}}nostudents, block_ranking{{/str}}</li>
    {{/weeklyranking}}
</ul>
